html { font-size: 62.5%;
font-family: Arial,Helvetica,sans-serif;
overflow: hidden;
}
body { font-size: 1.4rem; overflow: hidden;
background-color: #000;
  } /* =14px */


#details{
    position: absolute;
    margin: 0 0 0 0;
    z-index: 3;
    text-align: left;
    background: url(../gfx/bkg-seotext.png) #000000 repeat-x bottom left;
    padding: 4vh 0vw 0vh 0vw;
    color: #ffffff;
    width: 100%;
    height: 100%;
   -webkit-transform: translate3d(-1920px, 0px, 0px);
    transform: translate3d(-1920px, 0px, 0px);
}
#stage{
   position: absolute;
  z-index:0;
  width: 320px;
  height: 320px;
  display: block;
   background-color: #fff;
  outline: none;
}
.chiudi{
  position: absolute;
  right: 0;
  top: 0;
  margin: 1.7vh 1vw;
}

#reset{
  position: absolute;
  z-index: 2;
}
.content{
  margin-left:auto;
  margin-right:auto;
  width: 320px;
  height: 320px;

  vertical-align: middle;
}
.title, .description{
  padding: 0 1vw 0 1vw;
}
 #child {
    position: absolute;
top: 0;
bottom: 0;
width: 100%;
height: 320px;
margin: auto;
}
